@function vw($px) {
  @return ($px / 750) * 100vw;
}
.data {
  color: #505050;
  font-size: vw(14);
  .comtent {
    .title {
      width: 100%;
      height: vw(108);
      background-color: #ee3943;
      text-align: center;
      .img {
        position: absolute;
        top: vw(41.5);
        right: vw(160);
        float: right;
        height: vw(26);
        width: vw(26);
        border: none;
        vertical-align: middle;
        font-size: 0;
      }
      .inp {
        width: vw(540);
        height: vw(68);
        border: none;
        border-radius: vw(0.5);
        background-image: url("../../img/search.png");
        background-position: vw(30);
        background-repeat: no-repeat;
        padding-left: vw(70);
        background-size: vw(24);
        margin-top: vw(20);
      }
      .quexiao {
        font-size: vw(28);
        color: #fff;
        margin-left: vw(10);
      }
      .sousuo {
        font-size: vw(28);
        color: #fff;
        margin-left: vw(10);
      }
    }
  }
}
